@charset "utf-8" ;

*{
    font-family: Arial, Helvetica, sans-serif;
}

header{

}

#buscar{
    background-color: #2F4F4F;
    border: solid 1px;
    border-radius: 9px;
    width: 300px;
    
}

#buscar > img{
    width: 30px;
    height: 30px;
}

#buscar > input{
    padding-left: 5px;
}

#txtbuscar{
    float: left;
    background-color: transparent;
    padding-left: 5px;
    font-size: 18px;
    border: none;
    height:32px;
    width:260px;
}